# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/Lab3/22-1/Pregunta4/ServiceSoft/nbproject/private/
/Lab3/22-1/Pregunta4/ServiceSoftController/nbproject/private/
/Lab3/22-1/Pregunta4/ServiceSoftModel/nbproject/private/
/Lab3/22-1/Pregunta4/ServiceSoftModel/build/
/Lab3/22-1/Pregunta4/ServiceSoft/build/
/Lab3/22-1/Pregunta4/ServiceSoftController/build/
/Lab3/22-1/Pregunta4/ServiceSoftModel/dist/
/Lab3/22-1/Pregunta4/ServiceSoftController/dist/
/Lab3/22-1/Pregunta4/ServiceSoft/dist/

./MisEvaluaciones
/Examenes/22-2/JAVA/ProjectSoftModel/build/
/Examenes/22-2/JAVA/ProjectSoft/build/
/Examenes/22-2/JAVA/ProyectSoftDBManager/nbproject/private/
/Examenes/22-2/JAVA/ProyectSoftDBManager/build/
/Examenes/22-2/JAVA/ProjectSoftController/nbproject/private/
/Examenes/22-2/JAVA/ProjectSoftController/build/
/Examenes/22-2/JAVA/ProjectSoftModel/dist/
/Examenes/22-2/JAVA/ProyectSoftDBManager/dist/
/Examenes/22-2/JAVA/ProjectSoftController/dist/
/Examenes/22-2/JAVA/ProjectSoft/dist/
/Labs/Lab12/22-2/CinemaSoftLP2Services/nbproject/private/
/Labs/Lab12/22-2/Back-End/CinemaSoftLP2DBManager/build/
/Labs/Lab12/22-2/Back-End/CinemaSoftLP2Controller/build/
/Labs/Lab12/22-2/Back-End/CinemaSoftLP2Controller/dist/
/Labs/Lab12/22-2/Back-End/CinemaSoftLP2Model/build/
/Labs/Lab12/22-2/Back-End/CinemaSoftLP2Model/dist/
/Labs/Lab12/22-2/CinemaSoftLP2Services/build/
/Labs/Lab12/22-2/Back-End/CinemaSoftLP2DBManager/dist/
/Labs/Lab12/22-2/CinemaSoftLP2Services/dist/
/Labs/Lab12/22-1/BackEnd_JAVA/RinconLibroSoftServices/nbproject/private/
/Labs/Lab12/22-1/BackEnd_JAVA/RinconLibroSoftDBManager/build/
/Labs/Lab12/22-1/BackEnd_JAVA/RinconLibroSoftDBManager/dist/
/Labs/Lab12/22-1/BackEnd_JAVA/RinconLibroSoftModel/build/
/Labs/Lab12/22-1/BackEnd_JAVA/RinconLibroSoftController/build/
/Labs/Lab12/22-1/BackEnd_JAVA/RinconLibroSoftModel/dist/
/Labs/Lab12/22-1/BackEnd_JAVA/RinconLibroSoftController/dist/
/Labs/Lab12/22-1/BackEnd_JAVA/RinconLibroSoftServices/build/
